[submodule "submodules"]
	path = submodules
	url = git@gitlab.epfl.ch:listov/polympc.git
[submodule "qpmad"]
	path = qpmad
	url = https://github.com/asherikov/qpmad.git
[submodule "polympc"]
	path = polympc
	url = git@gitlab.epfl.ch:listov/polympc.git
[submodule "span"]
	path = span
	url = https://github.com/tcbrindle/span.git
